In [1]:
import pandas as pd

In [2]:
def primera_llamada(name):

    df = pd.read_csv('ibex35.csv')

    name = df[df['empresa'] == name]

    name = name [['date','open','high','low','close','adj close']]

    name['date'] = pd.to_datetime(name['date'], format="%Y-%m-%d")

    name.sort_values(by='date',ascending= True, inplace=True)

    fecha_inicio = '2021-01-01'
    fecha_fin = '2024-03-01'

    name = pd.DataFrame(name[(name['date'] >= fecha_inicio) & (name['date'] <= fecha_fin)]).reset_index(drop=True)

    return name

In [3]:
indra = primera_llamada('Indra')

indra

          date       open       high        low      close  adj close
0   2021-01-04   7.115000   7.115000   6.810000   6.850000   6.485601
1   2021-01-05   6.800000   6.965000   6.785000   6.965000   6.594484
2   2021-01-06   7.030000   7.095000   6.915000   7.065000   6.689164
3   2021-01-07   7.090000   7.090000   6.835000   6.940000   6.570814
4   2021-01-08   6.980000   7.075000   6.965000   7.060000   6.684429
..         ...        ...        ...        ...        ...        ...
807 2024-02-26  15.980000  16.180000  15.980000  16.070000  16.070000
808 2024-02-27  16.200001  16.240000  15.920000  16.030001  16.030001
809 2024-02-28  16.500000  17.590000  16.440001  17.080000  17.080000
810 2024-02-29  17.299999  17.959999  17.190001  17.670000  17.670000
811 2024-03-01  17.900000  17.950001  17.459999  17.690001  17.690001

[812 rows x 6 columns]

In [4]:

def preparar_modelo(DF):


    DF_filt = DF[['date','close']]

    DF_filt.close = DF.close.round(2)

    DF_filt= DF_filt.reset_index(drop=True)

    new_df = pd.DataFrame(columns=['d-4', 'd-3', 'd-2', 'd-1', 'do'])

    for i in range(len(new_df.columns)):
        new_df[new_df.columns[i]] = DF_filt['close'].shift(-i)

    new_df['date']= DF_filt.date

    new_df.insert(0, 'date', new_df.pop('date'))

    new_df.dropna(axis=0,inplace=True)

    return new_df

In [5]:
new_df = preparar_modelo(indra)

new_df

C:\Users\javie\AppData\Local\Temp\ipykernel_31956\4040868792.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DF_filt.close = DF.close.round(2)

          date    d-4    d-3    d-2    d-1     do
0   2021-01-04   6.85   6.96   7.06   6.94   7.06
1   2021-01-05   6.96   7.06   6.94   7.06   7.10
2   2021-01-06   7.06   6.94   7.06   7.10   7.19
3   2021-01-07   6.94   7.06   7.10   7.19   7.43
4   2021-01-08   7.06   7.10   7.19   7.43   7.48
..         ...    ...    ...    ...    ...    ...
803 2024-02-20  15.83  15.75  15.89  15.93  16.07
804 2024-02-21  15.75  15.89  15.93  16.07  16.03
805 2024-02-22  15.89  15.93  16.07  16.03  17.08
806 2024-02-23  15.93  16.07  16.03  17.08  17.67
807 2024-02-26  16.07  16.03  17.08  17.67  17.69

[808 rows x 6 columns]

In [6]:

def modelo_train(new_df):

    # Importar herramientas:

    from sklearn.model_selection import train_test_split as tts 
    from sklearn.ensemble import RandomForestRegressor as RFR 
    from sklearn.linear_model import OrthogonalMatchingPursuit as OMP
    from sklearn.metrics import mean_squared_error as mse

    # Separar X e y:

    X = new_df.drop(['do','date'],axis=1)
    y = new_df.do

    # Ejecutar tts:

    X_train, X_test, y_train, y_test = tts(X, y, train_size=0.8, test_size=0.2, random_state=42)
    X_train.shape, X_test.shape, y_train.shape, y_test.shape

    # Iniciar Modelos

    rfr=RFR()
    omp= OMP()

    # Entrenar

    rfr.fit(X_train, y_train)
    omp.fit(X_train, y_train)
     
    # Predecir

    y_pred_rfr=rfr.predict(X_test)
    y_pred_omp=omp.predict(X_test)

    # Mostrar rmse de cada modelo   
   
    return 'RMSE RFR ======',mse(y_test, y_pred_rfr, squared=False),'REMS OMP ======',mse(y_test, y_pred_omp, squared=False)

In [7]:
modelo_train(new_df)

('RMSE RFR ======', 0.191193687909136, 'REMS OMP ======', 0.1621130282205618)

In [8]:
def model(new_df):

    fecha_inicio = '2024-01-01'
    fecha_fin = '2024-02-26'

    # Filtrar el DataFrame
    mask = (new_df['date'] >= fecha_inicio) & (new_df['date'] <= fecha_fin)
    df_pred = new_df.loc[mask]

    df_pred_1 = df_pred[['d-4','d-3','d-2','d-1']]
    
    
    from sklearn.linear_model import OrthogonalMatchingPursuit as OMP

    omp= OMP()

    predicciones_y = []

    # Iterar sobre las 40 posiciones
    for i in range(40):
        # Seleccionar la porciÃ³n correspondiente de X e y para esta iteraciÃ³n
        X_iteracion = new_df.drop(['date', 'do'], axis=1)[:-40+i]
        y_iteracion = new_df.do[:-40+i]

        # Ajustar el modelo
        omp.fit(X_iteracion, y_iteracion)

        # Seleccionar la fila correspondiente de df_pred para la predicciÃ³n
        pred = df_pred_1[i:i+1]

        # Realizar la predicciÃ³n y almacenarla en la lista
        y_pred_omp = omp.predict(pred)
        predicciones_y.append(y_pred_omp[0])   

    pred = pd.DataFrame(predicciones_y)

    pred.columns = ['prediccion']

    df_pred = df_pred.reset_index(drop=True)
    
    df_pred['pred'] = pred.prediccion.round(2)

    df_pred['error'] = df_pred.pred.round(2) - df_pred.do  

    return  df_pred

In [9]:
df_pred = model(new_df)

df_pred

         date    d-4    d-3    d-2    d-1     do   pred  error
0  2024-01-02  14.08  13.93  13.97  14.01  14.17  14.01  -0.16
1  2024-01-03  13.93  13.97  14.01  14.17  14.07  14.17   0.10
2  2024-01-04  13.97  14.01  14.17  14.07  14.26  14.07  -0.19
3  2024-01-05  14.01  14.17  14.07  14.26  14.88  14.26  -0.62
4  2024-01-08  14.17  14.07  14.26  14.88  15.21  14.88  -0.33
5  2024-01-09  14.07  14.26  14.88  15.21  15.31  15.21  -0.10
6  2024-01-10  14.26  14.88  15.21  15.31  15.24  15.31   0.07
7  2024-01-11  14.88  15.21  15.31  15.24  15.65  15.24  -0.41
8  2024-01-12  15.21  15.31  15.24  15.65  15.80  15.65  -0.15
9  2024-01-15  15.31  15.24  15.65  15.80  15.67  15.81   0.14
10 2024-01-16  15.24  15.65  15.80  15.67  15.91  15.67  -0.24
11 2024-01-17  15.65  15.80  15.67  15.91  15.77  15.92   0.15
12 2024-01-18  15.80  15.67  15.91  15.77  16.01  15.78  -0.23
13 2024-01-19  15.67  15.91  15.77  16.01  16.12  16.02  -0.10
14 2024-01-22  15.91  15.77  16.01  16.12  16.20  16.13  -0.07
15 2024-01-23  15.77  16.01  16.12  16.20  16.22  16.21  -0.01
16 2024-01-24  16.01  16.12  16.20  16.22  16.35  16.23  -0.12
17 2024-01-25  16.12  16.20  16.22  16.35  16.47  16.36  -0.11
18 2024-01-26  16.20  16.22  16.35  16.47  16.33  16.48   0.15
19 2024-01-29  16.22  16.35  16.47  16.33  16.00  16.34   0.34
20 2024-01-30  16.35  16.47  16.33  16.00  16.02  16.01  -0.01
21 2024-01-31  16.47  16.33  16.00  16.02  16.06  16.03  -0.03
22 2024-02-01  16.33  16.00  16.02  16.06  16.09  16.07  -0.02
23 2024-02-02  16.00  16.02  16.06  16.09  15.95  16.10   0.15
24 2024-02-05  16.02  16.06  16.09  15.95  16.10  15.96  -0.14
25 2024-02-06  16.06  16.09  15.95  16.10  16.22  16.11  -0.11
26 2024-02-07  16.09  15.95  16.10  16.22  15.94  16.23   0.29
27 2024-02-08  15.95  16.10  16.22  15.94  15.96  15.95  -0.01
28 2024-02-09  16.10  16.22  15.94  15.96  15.85  15.97   0.12
29 2024-02-12  16.22  15.94  15.96  15.85  15.95  15.85  -0.10
30 2024-02-13  15.94  15.96  15.85  15.95  15.89  15.96   0.07
31 2024-02-14  15.96  15.85  15.95  15.89  15.83  15.89   0.06
32 2024-02-15  15.85  15.95  15.89  15.83  15.75  15.83   0.08
33 2024-02-16  15.95  15.89  15.83  15.75  15.89  15.75  -0.14
34 2024-02-19  15.89  15.83  15.75  15.89  15.93  15.89  -0.04
35 2024-02-20  15.83  15.75  15.89  15.93  16.07  15.94  -0.13
36 2024-02-21  15.75  15.89  15.93  16.07  16.03  16.08   0.05
37 2024-02-22  15.89  15.93  16.07  16.03  17.08  16.04  -1.04
38 2024-02-23  15.93  16.07  16.03  17.08  17.67  17.10  -0.57
39 2024-02-26  16.07  16.03  17.08  17.67  17.69  17.69   0.00

In [10]:
def escenario(x):

    import math

    df_pred['stock'] = (x/df_pred.do).apply(math.floor)

    df_pred['day_gap'] = df_pred.do.diff()

    df_pred['money'] = df_pred.stock*df_pred.day_gap

    df_pred['evolution'] = x + df_pred['money'].iloc[1:].cumsum().round(2)

    max_money_index = df_pred['money'].idxmax()
    
    df_pred['opti_real'] = x + df_pred['money'].iloc[max_money_index:].cumsum().round(2)

    min_money_index = df_pred['pred'].idxmin()
    
    df_pred['opti_pred'] = x + df_pred['money'].iloc[min_money_index:].cumsum().round(2)

    return df_pred

In [11]:
df_pred = escenario(100)

df_pred

,date,d-4,d-3,d-2,d-1,do,pred,error,stock,day_gap,money,evolution,opti_real,opti_pred
0,2024-01-02,14.08,13.93,13.97,14.01,14.17,14.01,-0.16,7,NaN,NaN,NaN,NaN,NaN
1,2024-01-03,13.93,13.97,14.01,14.17,14.07,14.17,0.10,7,-0.10,-0.70,99.30,NaN,99.30
2,2024-01-04,13.97,14.01,14.17,14.07,14.26,14.07,-0.19,7,0.19,1.33,100.63,NaN,100.63
3,2024-01-05,14.01,14.17,14.07,14.26,14.88,14.26,-0.62,6,0.62,3.72,104.35,NaN,104.35
4,2024-01-08,14.17,14.07,14.26,14.88,15.21,14.88,-0.33,6,0.33,1.98,106.33,NaN,106.33
5,2024-01-09,14.07,14.26,14.88,15.21,15.31,15.21,-0.10,6,0.10,0.60,106.93,NaN,106.93
6,2024-01-10,14.26,14.88,15.21,15.31,15.24,15.31,0.07,6,-0.07,-0.42,106.51,NaN,106.51
7,2024-01-11,14.88,15.21,15.31,15.24,15.65,15.24,-0.41,6,0.41,2.46,108.97,NaN,108.97
8,2024-01-12,15.21,15.31,15.24,15.65,15.80,15.65,-0.15,6,0.15,0.90,109.87,NaN,109.87
9,2024-01-15,15.31,15.24,15.65,15.80,15.67,15.81,0.14,6,-0.13,-0.78,109.09,NaN,109.09
10,2024-01-16,15.24,15.65,15.80,15.67,15.91,15.67,-0.24,6,0.24,1.44,110.53,NaN,110.53
11,2024-01-17,15.65,15.80,15.67,15.91,15.77,15.92,0.15,6,-0.14,-0.84,109.69,NaN,109.69
12,2024-01-18,15.80,15.67,15.91,15.77,16.01,15.78,-0.23,6,0.24,1.44,111.13,NaN,111.13
13,2024-01-19,15.67,15.91,15.77,16.01,16.12,16.02,-0.10,6,0.11,0.66,111.79,NaN,111.79
14,2024-01-22,15.91,15.77,16.01,16.12,16.20,16.13,-0.07,6,0.08,0.48,112.27,NaN,112.27
15,2024-01-23,15.77,16.01,16.12,16.20,16.22,16.21,-0.01,6,0.02,0.12,112.39,NaN,112.39
16,2024-01-24,16.01,16.12,16.20,16.22,16.35,16.23,-0.12,6,0.13,0.78,113.17,NaN,113.17
17,2024-01-25,16.12,16.20,16.22,16.35,16.47,16.36,-0.11,6,0.12,0.72,113.89,NaN,113.89
18,2024-01-26,16.20,16.22,16.35,16.47,16.33,16.48,0.15,6,-0.14,-0.84,113.05,NaN,113.05
19,2024-01-29,16.22,16.35,16.47,16.33,16.00,16.34,0.34,6,-0.33,-1.98,111.07,NaN,111.07
20,2024-01-30,16.35,16.47,16.33,16.00,16.02,16.01,-0.01,6,0.02,0.12,111.19,NaN,111.19
21,2024-01-31,16.47,16.33,16.00,16.02,16.06,16.03,-0.03,6,0.04,0.24,111.43,NaN,111.43
22,2024-02-01,16.33,16.00,16.02,16.06,16.09,16.07,-0.02,6,0.03,0.18,111.61,NaN,111.61
23,2024-02-02,16.00,16.02,16.06,16.09,15.95,16.10,0.15,6,-0.14,-0.84,110.77,NaN,110.77
24,2024-02-05,16.02,16.06,16.09,15.95,16.10,15.96,-0.14,6,0.15,0.90,111.67,NaN,111.67
25,2024-02-06,16.06,16.09,15.95,16.10,16.22,16.11,-0.11,6,0.12,0.72,112.39,NaN,112.39
26,2024-02-07,16.09,15.95,16.10,16.22,15.94,16.23,0.29,6,-0.28,-1.68,110.71,NaN,110.71
27,2024-02-08,15.95,16.10,16.22,15.94,15.96,15.95,-0.01,6,0.02,0.12,110.83,NaN,110.83
28,2024-02-09,16.10,16.22,15.94,15.96,15.85,15.97,0.12,6,-0.11,-0.66,110.17,NaN,110.17
29,2024-02-12,16.22,15.94,15.96,15.85,15.95,15.85,-0.10,6,0.10,0.60,110.77,NaN,110.77
30,2024-02-13,15.94,15.96,15.85,15.95,15.89,15.96,0.07,6,-0.06,-0.36,110.41,NaN,110.41
31,2024-02-14,15.96,15.85,15.95,15.89,15.83,15.89,0.06,6,-0.06,-0.36,110.05,NaN,110.05
32,2024-02-15,15.85,15.95,15.89,15.83,15.75,15.83,0.08,6,-0.08,-0.48,109.57,NaN,109.57
33,2024-02-16,15.95,15.89,15.83,15.75,15.89,15.75,-0.14,6,0.14,0.84,110.41,NaN,110.41
34,2024-02-19,15.89,15.83,15.75,15.89,15.93,15.89,-0.04,6,0.04,0.24,110.65,NaN,110.65
35,2024-02-20,15.83,15.75,15.89,15.93,16.07,15.94,-0.13,6,0.14,0.84,111.49,NaN,111.49
36,2024-02-21,15.75,15.89,15.93,16.07,16.03,16.08,0.05,6,-0.04,-0.24,111.25,NaN,111.25
37,2024-02-22,15.89,15.93,16.07,16.03,17.08,16.04,-1.04,5,1.05,5.25,116.50,105.25,116.50
38,2024-02-23,15.93,16.07,16.03,17.08,17.67,17.10,-0.57,5,0.59,2.95,119.45,108.20,119.45
39,2024-02-26,16.07,16.03,17.08,17.67,17.69,17.69,0.00,5,0.02,0.10,119.55,108.30,119.55

In [12]:
def dafatrame(df_pred,name):
    

    df_pred['name'] = name
    
    df_pred = df_pred[['name','date','do','pred','error','stock','day_gap','money','evolution','opti_real','opti_pred']]

    return df_pred

In [13]:
df= dafatrame(df_pred,'indra')

df

,name,date,do,pred,error,stock,day_gap,money,evolution,opti_real,opti_pred
0,indra,2024-01-02,14.17,14.01,-0.16,7,NaN,NaN,NaN,NaN,NaN
1,indra,2024-01-03,14.07,14.17,0.10,7,-0.10,-0.70,99.30,NaN,99.30
2,indra,2024-01-04,14.26,14.07,-0.19,7,0.19,1.33,100.63,NaN,100.63
3,indra,2024-01-05,14.88,14.26,-0.62,6,0.62,3.72,104.35,NaN,104.35
4,indra,2024-01-08,15.21,14.88,-0.33,6,0.33,1.98,106.33,NaN,106.33
5,indra,2024-01-09,15.31,15.21,-0.10,6,0.10,0.60,106.93,NaN,106.93
6,indra,2024-01-10,15.24,15.31,0.07,6,-0.07,-0.42,106.51,NaN,106.51
7,indra,2024-01-11,15.65,15.24,-0.41,6,0.41,2.46,108.97,NaN,108.97
8,indra,2024-01-12,15.80,15.65,-0.15,6,0.15,0.90,109.87,NaN,109.87
9,indra,2024-01-15,15.67,15.81,0.14,6,-0.13,-0.78,109.09,NaN,109.09
10,indra,2024-01-16,15.91,15.67,-0.24,6,0.24,1.44,110.53,NaN,110.53
11,indra,2024-01-17,15.77,15.92,0.15,6,-0.14,-0.84,109.69,NaN,109.69
12,indra,2024-01-18,16.01,15.78,-0.23,6,0.24,1.44,111.13,NaN,111.13
13,indra,2024-01-19,16.12,16.02,-0.10,6,0.11,0.66,111.79,NaN,111.79
14,indra,2024-01-22,16.20,16.13,-0.07,6,0.08,0.48,112.27,NaN,112.27
15,indra,2024-01-23,16.22,16.21,-0.01,6,0.02,0.12,112.39,NaN,112.39
16,indra,2024-01-24,16.35,16.23,-0.12,6,0.13,0.78,113.17,NaN,113.17
17,indra,2024-01-25,16.47,16.36,-0.11,6,0.12,0.72,113.89,NaN,113.89
18,indra,2024-01-26,16.33,16.48,0.15,6,-0.14,-0.84,113.05,NaN,113.05
19,indra,2024-01-29,16.00,16.34,0.34,6,-0.33,-1.98,111.07,NaN,111.07
20,indra,2024-01-30,16.02,16.01,-0.01,6,0.02,0.12,111.19,NaN,111.19
21,indra,2024-01-31,16.06,16.03,-0.03,6,0.04,0.24,111.43,NaN,111.43
22,indra,2024-02-01,16.09,16.07,-0.02,6,0.03,0.18,111.61,NaN,111.61
23,indra,2024-02-02,15.95,16.10,0.15,6,-0.14,-0.84,110.77,NaN,110.77
24,indra,2024-02-05,16.10,15.96,-0.14,6,0.15,0.90,111.67,NaN,111.67
25,indra,2024-02-06,16.22,16.11,-0.11,6,0.12,0.72,112.39,NaN,112.39
26,indra,2024-02-07,15.94,16.23,0.29,6,-0.28,-1.68,110.71,NaN,110.71
27,indra,2024-02-08,15.96,15.95,-0.01,6,0.02,0.12,110.83,NaN,110.83
28,indra,2024-02-09,15.85,15.97,0.12,6,-0.11,-0.66,110.17,NaN,110.17
29,indra,2024-02-12,15.95,15.85,-0.10,6,0.10,0.60,110.77,NaN,110.77
30,indra,2024-02-13,15.89,15.96,0.07,6,-0.06,-0.36,110.41,NaN,110.41
31,indra,2024-02-14,15.83,15.89,0.06,6,-0.06,-0.36,110.05,NaN,110.05
32,indra,2024-02-15,15.75,15.83,0.08,6,-0.08,-0.48,109.57,NaN,109.57
33,indra,2024-02-16,15.89,15.75,-0.14,6,0.14,0.84,110.41,NaN,110.41
34,indra,2024-02-19,15.93,15.89,-0.04,6,0.04,0.24,110.65,NaN,110.65
35,indra,2024-02-20,16.07,15.94,-0.13,6,0.14,0.84,111.49,NaN,111.49
36,indra,2024-02-21,16.03,16.08,0.05,6,-0.04,-0.24,111.25,NaN,111.25
37,indra,2024-02-22,17.08,16.04,-1.04,5,1.05,5.25,116.50,105.25,116.50
38,indra,2024-02-23,17.67,17.10,-0.57,5,0.59,2.95,119.45,108.20,119.45
39,indra,2024-02-26,17.69,17.69,0.00,5,0.02,0.10,119.55,108.30,119.55

In [14]:
df.to_csv('indra.csv',index=False)