In [1]:
# Paso 0: Importar libreria Pandas

import pandas as pd

In [2]:
# Paso 1: Cargar DF con la info descargada

merlin = pd.read_csv('MRL.MC.csv')

merlin

            Date    Open    High     Low   Close  Adj Close   Volume
0     2019-01-02  10.755  10.795  10.525  10.770   8.105373   884292
1     2019-01-03  10.705  10.740  10.570  10.680   8.037642  1467146
2     2019-01-04  10.795  10.895  10.670  10.795   8.124188  1061484
3     2019-01-07  10.790  10.850  10.755  10.810   8.135477   714000
4     2019-01-08  10.810  11.110  10.800  11.060   8.323626   970865
...          ...     ...     ...     ...     ...        ...      ...
1320  2024-02-26   9.190   9.225   9.130   9.190   9.190000   292877
1321  2024-02-27   9.100   9.240   9.100   9.130   9.130000   385719
1322  2024-02-28   9.170   9.170   8.760   8.855   8.855000   723065
1323  2024-02-29   8.755   8.970   8.730   8.755   8.755000  1581441
1324  2024-03-01   8.835   9.110   8.825   8.905   8.905000   837918

[1325 rows x 7 columns]

In [3]:
# Paso 2: Insertar nuevas columnas en el DF, 'id','ticker','empresa'

merlin['id'] = 27
merlin['ticker'] = 'MRL'
merlin['empresa'] = 'Merlin Properties'

merlin

,Date,Open,High,Low,Close,Adj Close,Volume,id,ticker,empresa
0,2019-01-02,10.755,10.795,10.525,10.770,8.105373,884292,27,MRL,Merlin Properties
1,2019-01-03,10.705,10.740,10.570,10.680,8.037642,1467146,27,MRL,Merlin Properties
2,2019-01-04,10.795,10.895,10.670,10.795,8.124188,1061484,27,MRL,Merlin Properties
3,2019-01-07,10.790,10.850,10.755,10.810,8.135477,714000,27,MRL,Merlin Properties
4,2019-01-08,10.810,11.110,10.800,11.060,8.323626,970865,27,MRL,Merlin Properties
...,...,...,...,...,...,...,...,...,...,...
1320,2024-02-26,9.190,9.225,9.130,9.190,9.190000,292877,27,MRL,Merlin Properties
1321,2024-02-27,9.100,9.240,9.100,9.130,9.130000,385719,27,MRL,Merlin Properties
1322,2024-02-28,9.170,9.170,8.760,8.855,8.855000,723065,27,MRL,Merlin Properties
1323,2024-02-29,8.755,8.970,8.730,8.755,8.755000,1581441,27,MRL,Merlin Properties
1324,2024-03-01,8.835,9.110,8.825,8.905,8.905000,837918,27,MRL,Merlin Properties

In [4]:
# Paso 3: Modificar títulos de columnas con función lower.


merlin.columns = merlin.columns.str.lower()

merlin.columns

Index(['date', 'open', 'high', 'low', 'close', 'adj close', 'volume', 'id',
       'ticker', 'empresa'],
      dtype='object')

In [5]:
# Paso 4: Ordenar columnas del DF

merlin = merlin[['id','ticker','empresa','date','open','high','low','close','adj close','volume']]

merlin

,id,ticker,empresa,date,open,high,low,close,adj close,volume
0,27,MRL,Merlin Properties,2019-01-02,10.755,10.795,10.525,10.770,8.105373,884292
1,27,MRL,Merlin Properties,2019-01-03,10.705,10.740,10.570,10.680,8.037642,1467146
2,27,MRL,Merlin Properties,2019-01-04,10.795,10.895,10.670,10.795,8.124188,1061484
3,27,MRL,Merlin Properties,2019-01-07,10.790,10.850,10.755,10.810,8.135477,714000
4,27,MRL,Merlin Properties,2019-01-08,10.810,11.110,10.800,11.060,8.323626,970865
...,...,...,...,...,...,...,...,...,...,...
1320,27,MRL,Merlin Properties,2024-02-26,9.190,9.225,9.130,9.190,9.190000,292877
1321,27,MRL,Merlin Properties,2024-02-27,9.100,9.240,9.100,9.130,9.130000,385719
1322,27,MRL,Merlin Properties,2024-02-28,9.170,9.170,8.760,8.855,8.855000,723065
1323,27,MRL,Merlin Properties,2024-02-29,8.755,8.970,8.730,8.755,8.755000,1581441
1324,27,MRL,Merlin Properties,2024-03-01,8.835,9.110,8.825,8.905,8.905000,837918

In [6]:
# Paso 5: Pasar a csv el DF

merlin.to_csv('mrl.csv',index=False)