In [4]:
# Paso 0: Importar libreria Pandas

import pandas as pd

In [5]:
# Paso 1: Cargar DFs con csv generados

cellnex = pd.read_csv('clnx.csv')
telefonica = pd.read_csv('tef.csv')

In [6]:
# Paso 2: Concatenar los diferentes DFs para tener un consolidado de Banking

telco = pd.concat([cellnex, telefonica], axis=0)

telco.reset_index(drop=True)

,id,ticker,empresa,date,open,high,low,close,adj close,volume
0,13,CLNX,Cellnex,2019-01-02,16.874771,17.262959,16.692095,17.202066,17.089506,606909
1,13,CLNX,Cellnex,2019-01-03,17.202066,17.460859,17.065060,17.392357,17.278551,474060
2,13,CLNX,Cellnex,2019-01-04,17.438025,17.643536,17.399967,17.575031,17.460032,662981
3,13,CLNX,Cellnex,2019-01-07,17.689205,18.085005,17.575031,18.077394,17.959105,2470785
4,13,CLNX,Cellnex,2019-01-08,17.986055,18.145897,17.818602,18.039335,17.921293,857855
...,...,...,...,...,...,...,...,...,...,...
2645,34,TEF,Telefonica,2024-02-26,3.755000,3.794000,3.748000,3.776000,3.776000,6699236
2646,34,TEF,Telefonica,2024-02-27,3.751000,3.815000,3.751000,3.810000,3.810000,8175189
2647,34,TEF,Telefonica,2024-02-28,3.820000,3.874000,3.814000,3.828000,3.828000,12065463
2648,34,TEF,Telefonica,2024-02-29,3.831000,3.842000,3.790000,3.793000,3.793000,16751108
2649,34,TEF,Telefonica,2024-03-01,3.775000,3.843000,3.767000,3.822000,3.822000,33172223

In [7]:
# Paso 3: Exportar el DF a csv

telco.to_csv('telco.csv')