In [1]:
# Paso 0: Importar libreria Pandas para cargar DF

import pandas as pd

In [2]:
# Paso 0: Modificar el display para ver todas las filas

pd.options.display.max_rows=None

In [3]:
# Paso 1: Realizar scrapping de Tabla de Wikipedia sobre las empresas actuales del IBEX 35

url = 'https://es.wikipedia.org/wiki/IBEX_35'

df2 = pd.read_html(url)[1]

In [4]:
# Paso 2: Crear nueva columna para chequear que son 35 valores

df2['id'] = df2.index+1

In [5]:
df2

,Ticker,Empresa,Sede,Entrada,Sector[28]​,ISIN,Ponderación (Sep. 2022),id
0,ANA,Acciona,Alcobendas,2015,Construcción,ES0125220311,112,1
1,ANE,Acciona Energía,Alcobendas,2022,Energías renovables,ES0105563003,36,2
2,ACX,Acerinox,Madrid,2015,"Mineral, metales y transformación",ES0132105018,49,3
3,ACS,ACS,Madrid,1998,Construcción,ES0167050915,203,4
4,AENA,Aena,Madrid,2015,Transporte y distribución,ES0105046009,351,5
5,AMS,Amadeus IT Group,Madrid,2011,Electrónica y software,ES0109067019,519,6
6,MTS,ArcelorMittal,Ciudad de Luxemburgo,2009,"Mineral, metales y transformación",LU1598757687,76,7
7,SAB,Banco Sabadell,Alicante,2004,Bancos y cajas de ahorro,ES0113860A34,141,8
8,SAN,Banco Santander,Santander,1992,Bancos y cajas de ahorro,ES0113900J37,1201,9
9,BKT,Bankinter,Madrid,1992,Bancos y cajas de ahorro,ES0113679I37,115,10
10,BBVA,BBVA,Bilbao,1992,Bancos y cajas de ahorro,ES0113211835,948,11
11,CABK,CaixaBank,Valencia,2009,Bancos y cajas de ahorro,ES0140609019,493,12
12,CLNX,Cellnex Telecom,Madrid,2016,Telecomunicaciones y otros,ES0105066007,419,13
13,ENG,Enagás,Madrid,2003,Electricidad y gas,ES0130960018,89,14
14,ELE,Endesa,Madrid,1992,Electricidad y gas,ES0130670112,161,15
15,FER,Ferrovial,Madrid,1999,Construcción,ES0118900010,443,16
16,FDR,Fluidra,San Cugat del Vallés,2021,Ingeniería y otros,ES0137650018,55,17
17,GRF,Grifols,Barcelona,2008,Productos farmacéuticos y biotecnología,ES0171996087,97,18
18,IAG,IAG,Madrid / Londres,2011,Transporte y distribución,ES0177542018,176,19
19,IBE,Iberdrola,Bilbao,1992,Electricidad y gas,ES0144580Y14,1427,20
20,ITX,Inditex,Arteijo,2001,"Textil, vestido y calzado",ES0148396007,1303,21
21,IDR,Indra Sistemas,Alcobendas,1999,Electrónica y software,ES0118594417,50,22
22,COL,Inmobiliaria Colonial,Madrid,2007,SOCIMI,ES0139140174,49,23
23,LOG,Logista,Leganés,2022,Transporte y Distribución,ES0105027009,53,24
24,MAP,Mapfre,Majadahonda,1992,Seguros,ES0124244E34,78,25
25,MEL,Meliá Hotels International,Palma de Mallorca,2016,"Ocio, turismo y hostelería",ES0176252718,20,26
26,MRL,Merlin Properties,Madrid,2015,SOCIMI,ES0105025003,79,27
27,NTGY,Naturgy,Madrid,2018,Electricidad y gas,ES0116870314,111,28
28,RED,Red Eléctrica Corporación,Alcobendas,2000,Electricidad y gas,ES0173093024,170,29
29,REP,Repsol,Madrid,1992,Petróleo,ES0173516115,378,30
30,ROVI,Laboratorios Rovi,Madrid,2021,Productos farmacéuticos y biotecnología,ES0157261019,35,31
31,SCYR,Sacyr,Madrid,2022,Construcción,ES0182870214,40,32
32,SLR,Solaria Energía y Medio Ambiente,Madrid,2020,Energías renovables,ES0165386014,30,33
33,TEF,Telefónica,Madrid,1992,Telecomunicaciones y otros,ES0178430E18,449,34
34,UNI,Unicaja Banco,Málaga,2022,Bancos y cajas de ahorro,ES0180907000,45,35

In [6]:
# Paso 3: Ubicar el 'id' de la empresa como la primera columna del DF

df2.insert(0,'id', df2.pop('id'))

df2

,id,Ticker,Empresa,Sede,Entrada,Sector[28]​,ISIN,Ponderación (Sep. 2022)
0,1,ANA,Acciona,Alcobendas,2015,Construcción,ES0125220311,112
1,2,ANE,Acciona Energía,Alcobendas,2022,Energías renovables,ES0105563003,36
2,3,ACX,Acerinox,Madrid,2015,"Mineral, metales y transformación",ES0132105018,49
3,4,ACS,ACS,Madrid,1998,Construcción,ES0167050915,203
4,5,AENA,Aena,Madrid,2015,Transporte y distribución,ES0105046009,351
5,6,AMS,Amadeus IT Group,Madrid,2011,Electrónica y software,ES0109067019,519
6,7,MTS,ArcelorMittal,Ciudad de Luxemburgo,2009,"Mineral, metales y transformación",LU1598757687,76
7,8,SAB,Banco Sabadell,Alicante,2004,Bancos y cajas de ahorro,ES0113860A34,141
8,9,SAN,Banco Santander,Santander,1992,Bancos y cajas de ahorro,ES0113900J37,1201
9,10,BKT,Bankinter,Madrid,1992,Bancos y cajas de ahorro,ES0113679I37,115
10,11,BBVA,BBVA,Bilbao,1992,Bancos y cajas de ahorro,ES0113211835,948
11,12,CABK,CaixaBank,Valencia,2009,Bancos y cajas de ahorro,ES0140609019,493
12,13,CLNX,Cellnex Telecom,Madrid,2016,Telecomunicaciones y otros,ES0105066007,419
13,14,ENG,Enagás,Madrid,2003,Electricidad y gas,ES0130960018,89
14,15,ELE,Endesa,Madrid,1992,Electricidad y gas,ES0130670112,161
15,16,FER,Ferrovial,Madrid,1999,Construcción,ES0118900010,443
16,17,FDR,Fluidra,San Cugat del Vallés,2021,Ingeniería y otros,ES0137650018,55
17,18,GRF,Grifols,Barcelona,2008,Productos farmacéuticos y biotecnología,ES0171996087,97
18,19,IAG,IAG,Madrid / Londres,2011,Transporte y distribución,ES0177542018,176
19,20,IBE,Iberdrola,Bilbao,1992,Electricidad y gas,ES0144580Y14,1427
20,21,ITX,Inditex,Arteijo,2001,"Textil, vestido y calzado",ES0148396007,1303
21,22,IDR,Indra Sistemas,Alcobendas,1999,Electrónica y software,ES0118594417,50
22,23,COL,Inmobiliaria Colonial,Madrid,2007,SOCIMI,ES0139140174,49
23,24,LOG,Logista,Leganés,2022,Transporte y Distribución,ES0105027009,53
24,25,MAP,Mapfre,Majadahonda,1992,Seguros,ES0124244E34,78
25,26,MEL,Meliá Hotels International,Palma de Mallorca,2016,"Ocio, turismo y hostelería",ES0176252718,20
26,27,MRL,Merlin Properties,Madrid,2015,SOCIMI,ES0105025003,79
27,28,NTGY,Naturgy,Madrid,2018,Electricidad y gas,ES0116870314,111
28,29,RED,Red Eléctrica Corporación,Alcobendas,2000,Electricidad y gas,ES0173093024,170
29,30,REP,Repsol,Madrid,1992,Petróleo,ES0173516115,378
30,31,ROVI,Laboratorios Rovi,Madrid,2021,Productos farmacéuticos y biotecnología,ES0157261019,35
31,32,SCYR,Sacyr,Madrid,2022,Construcción,ES0182870214,40
32,33,SLR,Solaria Energía y Medio Ambiente,Madrid,2020,Energías renovables,ES0165386014,30
33,34,TEF,Telefónica,Madrid,1992,Telecomunicaciones y otros,ES0178430E18,449
34,35,UNI,Unicaja Banco,Málaga,2022,Bancos y cajas de ahorro,ES0180907000,45

In [7]:
# Paso 5: Modificar títulos de columnas con función lower.


df2.columns = df2.columns.str.lower()

df2.columns

Index(['id', 'ticker', 'empresa', 'sede', 'entrada', 'sector[28]​', 'isin',
       'ponderación (sep. 2022)'],
      dtype='object')

In [8]:
# Paso 6: Generar nueva columna de sector sustituyendo a 'sector[28]'.

df2 ['sector'] = df2['sector[28]​']

df2 = df2.drop(['sector[28]​'],axis=1)

df2.insert(3,'sector', df2.pop('sector'))

df2

,id,ticker,empresa,sector,sede,entrada,isin,ponderación (sep. 2022)
0,1,ANA,Acciona,Construcción,Alcobendas,2015,ES0125220311,112
1,2,ANE,Acciona Energía,Energías renovables,Alcobendas,2022,ES0105563003,36
2,3,ACX,Acerinox,"Mineral, metales y transformación",Madrid,2015,ES0132105018,49
3,4,ACS,ACS,Construcción,Madrid,1998,ES0167050915,203
4,5,AENA,Aena,Transporte y distribución,Madrid,2015,ES0105046009,351
5,6,AMS,Amadeus IT Group,Electrónica y software,Madrid,2011,ES0109067019,519
6,7,MTS,ArcelorMittal,"Mineral, metales y transformación",Ciudad de Luxemburgo,2009,LU1598757687,76
7,8,SAB,Banco Sabadell,Bancos y cajas de ahorro,Alicante,2004,ES0113860A34,141
8,9,SAN,Banco Santander,Bancos y cajas de ahorro,Santander,1992,ES0113900J37,1201
9,10,BKT,Bankinter,Bancos y cajas de ahorro,Madrid,1992,ES0113679I37,115
10,11,BBVA,BBVA,Bancos y cajas de ahorro,Bilbao,1992,ES0113211835,948
11,12,CABK,CaixaBank,Bancos y cajas de ahorro,Valencia,2009,ES0140609019,493
12,13,CLNX,Cellnex Telecom,Telecomunicaciones y otros,Madrid,2016,ES0105066007,419
13,14,ENG,Enagás,Electricidad y gas,Madrid,2003,ES0130960018,89
14,15,ELE,Endesa,Electricidad y gas,Madrid,1992,ES0130670112,161
15,16,FER,Ferrovial,Construcción,Madrid,1999,ES0118900010,443
16,17,FDR,Fluidra,Ingeniería y otros,San Cugat del Vallés,2021,ES0137650018,55
17,18,GRF,Grifols,Productos farmacéuticos y biotecnología,Barcelona,2008,ES0171996087,97
18,19,IAG,IAG,Transporte y distribución,Madrid / Londres,2011,ES0177542018,176
19,20,IBE,Iberdrola,Electricidad y gas,Bilbao,1992,ES0144580Y14,1427
20,21,ITX,Inditex,"Textil, vestido y calzado",Arteijo,2001,ES0148396007,1303
21,22,IDR,Indra Sistemas,Electrónica y software,Alcobendas,1999,ES0118594417,50
22,23,COL,Inmobiliaria Colonial,SOCIMI,Madrid,2007,ES0139140174,49
23,24,LOG,Logista,Transporte y Distribución,Leganés,2022,ES0105027009,53
24,25,MAP,Mapfre,Seguros,Majadahonda,1992,ES0124244E34,78
25,26,MEL,Meliá Hotels International,"Ocio, turismo y hostelería",Palma de Mallorca,2016,ES0176252718,20
26,27,MRL,Merlin Properties,SOCIMI,Madrid,2015,ES0105025003,79
27,28,NTGY,Naturgy,Electricidad y gas,Madrid,2018,ES0116870314,111
28,29,RED,Red Eléctrica Corporación,Electricidad y gas,Alcobendas,2000,ES0173093024,170
29,30,REP,Repsol,Petróleo,Madrid,1992,ES0173516115,378
30,31,ROVI,Laboratorios Rovi,Productos farmacéuticos y biotecnología,Madrid,2021,ES0157261019,35
31,32,SCYR,Sacyr,Construcción,Madrid,2022,ES0182870214,40
32,33,SLR,Solaria Energía y Medio Ambiente,Energías renovables,Madrid,2020,ES0165386014,30
33,34,TEF,Telefónica,Telecomunicaciones y otros,Madrid,1992,ES0178430E18,449
34,35,UNI,Unicaja Banco,Bancos y cajas de ahorro,Málaga,2022,ES0180907000,45

In [9]:
# Paso 7: Analizar valores únicos de variable 'sector'

df2.sector.value_counts()

sector
Bancos y cajas de ahorro                   6
Electricidad y gas                         5
Construcción                               4
Energías renovables                        2
Mineral, metales y transformación          2
Transporte y distribución                  2
Electrónica y software                     2
Telecomunicaciones y otros                 2
Productos farmacéuticos y biotecnología    2
SOCIMI                                     2
Ingeniería y otros                         1
Textil, vestido y calzado                  1
Transporte y Distribución                  1
Seguros                                    1
Ocio, turismo y hostelería                 1
Petróleo                                   1
Name: count, dtype: int64

In [10]:
# Paso 8: Renombrar valores únicos de variables 'sector' para mejorar consistencia

# Crear diccionario para la nueva codificación

codi = {'Bancos y cajas de ahorro': 'Banking','Electricidad y gas': 'Energy','Construcción':'Industrial Services',
          'Energías renovables': 'Energy', 'Mineral, metales y transformación': 'Resources', 'Transporte y distribución':'Logistic',
          'Electrónica y software':'High Tech','Telecomunicaciones y otros':'Telco','Productos farmacéuticos y biotecnología':'Pharma',
          'SOCIMI':'Investment','Ingeniería y otros':'Industrial Services','Textil, vestido y calzado':'Retail',
          'Transporte y Distribución':'Logistic','Seguros':'Insurance','Ocio, turismo y hostelería':'Travel','Petróleo':'Energy'}

# Reemplazar los valores

df2['sector'] = df2['sector'].replace(codi)

In [11]:
# Paso 9: Renombrar algunos valores únicos de variable 'empresa' para evitar errores de codificación

# Crear diccionario para la nueva codificación

companies = {'Amadeus IT Group':'Amadeus','ArcelorMittal':'Arcelor','Cellnex Telecom':'Cellnex','Enagás':'Enagas','Indra Sistemas':'Indra',
            'Meliá Hotels International':'Melia','Red Eléctrica Corporación':'REE','Solaria Energía y Medio Ambiente':'Solaria',
             'Telefónica':'Telefonica','Unicaja Banco':'Unicaja'}

# Reemplazar los valores

df2['empresa'] = df2['empresa'].replace(companies)

In [13]:
df2

,id,ticker,empresa,sector,sede,entrada
0,1,ANA,Acciona,Industrial Services,Alcobendas,2015
1,2,ANE,Acciona Energía,Energy,Alcobendas,2022
2,3,ACX,Acerinox,Resources,Madrid,2015
3,4,ACS,ACS,Industrial Services,Madrid,1998
4,5,AENA,Aena,Logistic,Madrid,2015
5,6,AMS,Amadeus,High Tech,Madrid,2011
6,7,MTS,Arcelor,Resources,Ciudad de Luxemburgo,2009
7,8,SAB,Banco Sabadell,Banking,Alicante,2004
8,9,SAN,Banco Santander,Banking,Santander,1992
9,10,BKT,Bankinter,Banking,Madrid,1992
10,11,BBVA,BBVA,Banking,Bilbao,1992
11,12,CABK,CaixaBank,Banking,Valencia,2009
12,13,CLNX,Cellnex,Telco,Madrid,2016
13,14,ENG,Enagas,Energy,Madrid,2003
14,15,ELE,Endesa,Energy,Madrid,1992
15,16,FER,Ferrovial,Industrial Services,Madrid,1999
16,17,FDR,Fluidra,Industrial Services,San Cugat del Vallés,2021
17,18,GRF,Grifols,Pharma,Barcelona,2008
18,19,IAG,IAG,Logistic,Madrid / Londres,2011
19,20,IBE,Iberdrola,Energy,Bilbao,1992
20,21,ITX,Inditex,Retail,Arteijo,2001
21,22,IDR,Indra,High Tech,Alcobendas,1999
22,23,COL,Inmobiliaria Colonial,Investment,Madrid,2007
23,24,LOG,Logista,Logistic,Leganés,2022
24,25,MAP,Mapfre,Insurance,Majadahonda,1992
25,26,MEL,Melia,Travel,Palma de Mallorca,2016
26,27,MRL,Merlin Properties,Investment,Madrid,2015
27,28,NTGY,Naturgy,Energy,Madrid,2018
28,29,RED,REE,Energy,Alcobendas,2000
29,30,REP,Repsol,Energy,Madrid,1992
30,31,ROVI,Laboratorios Rovi,Pharma,Madrid,2021
31,32,SCYR,Sacyr,Industrial Services,Madrid,2022
32,33,SLR,Solaria,Energy,Madrid,2020
33,34,TEF,Telefonica,Telco,Madrid,1992
34,35,UNI,Unicaja,Banking,Málaga,2022

In [12]:
# Paso 10: Eliminar columnas del DF que no aportan

df2 = df2[['id','ticker','empresa','sector','sede','entrada']]

df2

,id,ticker,empresa,sector,sede,entrada
0,1,ANA,Acciona,Industrial Services,Alcobendas,2015
1,2,ANE,Acciona Energía,Energy,Alcobendas,2022
2,3,ACX,Acerinox,Resources,Madrid,2015
3,4,ACS,ACS,Industrial Services,Madrid,1998
4,5,AENA,Aena,Logistic,Madrid,2015
5,6,AMS,Amadeus,High Tech,Madrid,2011
6,7,MTS,Arcelor,Resources,Ciudad de Luxemburgo,2009
7,8,SAB,Banco Sabadell,Banking,Alicante,2004
8,9,SAN,Banco Santander,Banking,Santander,1992
9,10,BKT,Bankinter,Banking,Madrid,1992
10,11,BBVA,BBVA,Banking,Bilbao,1992
11,12,CABK,CaixaBank,Banking,Valencia,2009
12,13,CLNX,Cellnex,Telco,Madrid,2016
13,14,ENG,Enagas,Energy,Madrid,2003
14,15,ELE,Endesa,Energy,Madrid,1992
15,16,FER,Ferrovial,Industrial Services,Madrid,1999
16,17,FDR,Fluidra,Industrial Services,San Cugat del Vallés,2021
17,18,GRF,Grifols,Pharma,Barcelona,2008
18,19,IAG,IAG,Logistic,Madrid / Londres,2011
19,20,IBE,Iberdrola,Energy,Bilbao,1992
20,21,ITX,Inditex,Retail,Arteijo,2001
21,22,IDR,Indra,High Tech,Alcobendas,1999
22,23,COL,Inmobiliaria Colonial,Investment,Madrid,2007
23,24,LOG,Logista,Logistic,Leganés,2022
24,25,MAP,Mapfre,Insurance,Majadahonda,1992
25,26,MEL,Melia,Travel,Palma de Mallorca,2016
26,27,MRL,Merlin Properties,Investment,Madrid,2015
27,28,NTGY,Naturgy,Energy,Madrid,2018
28,29,RED,REE,Energy,Alcobendas,2000
29,30,REP,Repsol,Energy,Madrid,1992
30,31,ROVI,Laboratorios Rovi,Pharma,Madrid,2021
31,32,SCYR,Sacyr,Industrial Services,Madrid,2022
32,33,SLR,Solaria,Energy,Madrid,2020
33,34,TEF,Telefonica,Telco,Madrid,1992
34,35,UNI,Unicaja,Banking,Málaga,2022

In [16]:
df2.sector.unique()

array(['Industrial Services', 'Energy', 'Resources', 'Logistic',
       'High Tech', 'Banking', 'Telco', 'Pharma', 'Retail', 'Investment',
       'Insurance', 'Travel'], dtype=object)

In [14]:
# Paso 11: Guardar DF en un csv para ERD Model

df2.to_csv('Companies_list.csv')