In [1]:
import pandas as pd

In [2]:
def primera_llamada(name):

    df = pd.read_csv('ibex35.csv')

    name = df[df['empresa'] == name]

    name = name [['date','open','high','low','close','adj close']]

    name['date'] = pd.to_datetime(name['date'], format="%Y-%m-%d")

    name.sort_values(by='date',ascending= True, inplace=True)

    fecha_inicio = '2021-01-01'
    fecha_fin = '2024-03-01'

    name = pd.DataFrame(name[(name['date'] >= fecha_inicio) & (name['date'] <= fecha_fin)]).reset_index(drop=True)

    return name

In [3]:
acciona = primera_llamada('Acciona')

acciona

          date        open        high         low       close   adj close
0   2021-01-04  117.199997  118.099998  116.699997  116.699997  107.314598
1   2021-01-05  117.599998  117.900002  116.099998  116.599998  107.222633
2   2021-01-06  117.099998  119.400002  116.500000  119.400002  109.797455
3   2021-01-07  119.699997  126.199997  119.699997  125.900002  115.774712
4   2021-01-08  127.000000  128.600006  127.000000  127.800003  117.521904
..         ...         ...         ...         ...         ...         ...
806 2024-02-26  104.449997  104.449997  101.550003  101.550003  101.550003
807 2024-02-27  101.349998  104.250000  101.150002  104.199997  104.199997
808 2024-02-28  104.150002  104.150002  100.000000  100.300003  100.300003
809 2024-02-29  100.500000  104.050003  100.500000  104.050003  104.050003
810 2024-03-01  105.050003  109.050003  105.050003  107.000000  107.000000

[811 rows x 6 columns]

In [4]:

def preparar_modelo(DF):


    DF_filt = DF[['date','close']]

    DF_filt.close = DF.close.round(2)

    DF_filt= DF_filt.reset_index(drop=True)

    new_df = pd.DataFrame(columns=['d-4', 'd-3', 'd-2', 'd-1', 'do'])

    for i in range(len(new_df.columns)):
        new_df[new_df.columns[i]] = DF_filt['close'].shift(-i)

    new_df['date']= DF_filt.date

    new_df.insert(0, 'date', new_df.pop('date'))

    new_df.dropna(axis=0,inplace=True)

    return new_df

In [5]:
new_df = preparar_modelo(acciona)

new_df

C:\Users\javie\AppData\Local\Temp\ipykernel_30860\4040868792.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DF_filt.close = DF.close.round(2)

          date     d-4     d-3     d-2     d-1      do
0   2021-01-04  116.70  116.60  119.40  125.90  127.80
1   2021-01-05  116.60  119.40  125.90  127.80  124.70
2   2021-01-06  119.40  125.90  127.80  124.70  124.80
3   2021-01-07  125.90  127.80  124.70  124.80  126.60
4   2021-01-08  127.80  124.70  124.80  126.60  126.60
..         ...     ...     ...     ...     ...     ...
802 2024-02-20  108.55  108.30  106.70  104.75  101.55
803 2024-02-21  108.30  106.70  104.75  101.55  104.20
804 2024-02-22  106.70  104.75  101.55  104.20  100.30
805 2024-02-23  104.75  101.55  104.20  100.30  104.05
806 2024-02-26  101.55  104.20  100.30  104.05  107.00

[807 rows x 6 columns]

In [6]:

def modelo_train(new_df):

    # Importar herramientas:

    from sklearn.model_selection import train_test_split as tts 
    from sklearn.ensemble import RandomForestRegressor as RFR 
    from sklearn.linear_model import OrthogonalMatchingPursuit as OMP
    from sklearn.metrics import mean_squared_error as mse

    # Separar X e y:

    X = new_df.drop(['do','date'],axis=1)
    y = new_df.do

    # Ejecutar tts:

    X_train, X_test, y_train, y_test = tts(X, y, train_size=0.8, test_size=0.2, random_state=42)
    X_train.shape, X_test.shape, y_train.shape, y_test.shape

    # Iniciar Modelos

    rfr=RFR()
    omp= OMP()

    # Entrenar

    rfr.fit(X_train, y_train)
    omp.fit(X_train, y_train)
     
    # Predecir

    y_pred_rfr=rfr.predict(X_test)
    y_pred_omp=omp.predict(X_test)

    # Mostrar rmse de cada modelo   
   
    return 'RMSE RFR ======',mse(y_test, y_pred_rfr, squared=False),'REMS OMP ======',mse(y_test, y_pred_omp, squared=False)

In [7]:
modelo_train(new_df)

('RMSE RFR ======', 3.318150097718257, 'REMS OMP ======', 3.049054779178728)

In [8]:
def model(new_df):

    fecha_inicio = '2024-01-01'
    fecha_fin = '2024-02-26'

    # Filtrar el DataFrame
    mask = (new_df['date'] >= fecha_inicio) & (new_df['date'] <= fecha_fin)
    df_pred = new_df.loc[mask]

    df_pred_1 = df_pred[['d-4','d-3','d-2','d-1']]
    
    
    from sklearn.linear_model import OrthogonalMatchingPursuit as OMP

    omp= OMP()

    predicciones_y = []

    # Iterar sobre las 40 posiciones
    for i in range(40):
        # Seleccionar la porción correspondiente de X e y para esta iteración
        X_iteracion = new_df.drop(['date', 'do'], axis=1)[:-40+i]
        y_iteracion = new_df.do[:-40+i]

        # Ajustar el modelo
        omp.fit(X_iteracion, y_iteracion)

        # Seleccionar la fila correspondiente de df_pred para la predicción
        pred = df_pred_1[i:i+1]

        # Realizar la predicción y almacenarla en la lista
        y_pred_omp = omp.predict(pred)
        predicciones_y.append(y_pred_omp[0])   

    pred = pd.DataFrame(predicciones_y)

    pred.columns = ['prediccion']

    df_pred = df_pred.reset_index(drop=True)
    
    df_pred['pred'] = pred.prediccion.round(2)

    df_pred['error'] = df_pred.pred.round(2) - df_pred.do  

    return  df_pred

In [9]:
df_pred = model(new_df)

df_pred

         date     d-4     d-3     d-2     d-1      do    pred  error
0  2024-01-02  131.25  127.15  127.65  126.80  126.30  127.01   0.71
1  2024-01-03  127.15  127.65  126.80  126.30  127.20  126.51  -0.69
2  2024-01-04  127.65  126.80  126.30  127.20  128.80  127.41  -1.39
3  2024-01-05  126.80  126.30  127.20  128.80  128.10  129.00   0.90
4  2024-01-08  126.30  127.20  128.80  128.10  130.80  128.30  -2.50
5  2024-01-09  127.20  128.80  128.10  130.80  127.85  130.99   3.14
6  2024-01-10  128.80  128.10  130.80  127.85  122.35  128.05   5.70
7  2024-01-11  128.10  130.80  127.85  122.35  116.80  122.57   5.77
8  2024-01-12  130.80  127.85  122.35  116.80  117.60  117.03  -0.57
9  2024-01-15  127.85  122.35  116.80  117.60  116.15  117.83   1.68
10 2024-01-16  122.35  116.80  117.60  116.15  117.70  116.38  -1.32
11 2024-01-17  116.80  117.60  116.15  117.70  120.40  117.93  -2.47
12 2024-01-18  117.60  116.15  117.70  120.40  120.40  120.62   0.22
13 2024-01-19  116.15  117.70  120.40  120.40  120.95  120.62  -0.33
14 2024-01-22  117.70  120.40  120.40  120.95  121.75  121.17  -0.58
15 2024-01-23  120.40  120.40  120.95  121.75  121.95  121.97   0.02
16 2024-01-24  120.40  120.95  121.75  121.95  118.45  122.17   3.72
17 2024-01-25  120.95  121.75  121.95  118.45  119.85  118.67  -1.18
18 2024-01-26  121.75  121.95  118.45  119.85  119.00  120.07   1.07
19 2024-01-29  121.95  118.45  119.85  119.00  117.85  119.22   1.37
20 2024-01-30  118.45  119.85  119.00  117.85  115.45  118.07   2.62
21 2024-01-31  119.85  119.00  117.85  115.45  114.50  115.68   1.18
22 2024-02-01  119.00  117.85  115.45  114.50  114.45  114.73   0.28
23 2024-02-02  117.85  115.45  114.50  114.45  112.30  114.67   2.37
24 2024-02-05  115.45  114.50  114.45  112.30  110.45  112.53   2.08
25 2024-02-06  114.50  114.45  112.30  110.45  112.20  110.67  -1.53
26 2024-02-07  114.45  112.30  110.45  112.20  109.95  112.42   2.47
27 2024-02-08  112.30  110.45  112.20  109.95  110.45  110.17  -0.28
28 2024-02-09  110.45  112.20  109.95  110.45  112.40  110.67  -1.73
29 2024-02-12  112.20  109.95  110.45  112.40  109.15  112.62   3.47
30 2024-02-13  109.95  110.45  112.40  109.15  107.50  109.37   1.87
31 2024-02-14  110.45  112.40  109.15  107.50  108.55  107.72  -0.83
32 2024-02-15  112.40  109.15  107.50  108.55  108.30  108.77   0.47
33 2024-02-16  109.15  107.50  108.55  108.30  106.70  108.52   1.82
34 2024-02-19  107.50  108.55  108.30  106.70  104.75  106.91   2.16
35 2024-02-20  108.55  108.30  106.70  104.75  101.55  104.96   3.41
36 2024-02-21  108.30  106.70  104.75  101.55  104.20  101.75  -2.45
37 2024-02-22  106.70  104.75  101.55  104.20  100.30  104.41   4.11
38 2024-02-23  104.75  101.55  104.20  100.30  104.05  100.50  -3.55
39 2024-02-26  101.55  104.20  100.30  104.05  107.00  104.26  -2.74

In [10]:
df_pred

         date     d-4     d-3     d-2     d-1      do    pred  error
0  2024-01-02  131.25  127.15  127.65  126.80  126.30  127.01   0.71
1  2024-01-03  127.15  127.65  126.80  126.30  127.20  126.51  -0.69
2  2024-01-04  127.65  126.80  126.30  127.20  128.80  127.41  -1.39
3  2024-01-05  126.80  126.30  127.20  128.80  128.10  129.00   0.90
4  2024-01-08  126.30  127.20  128.80  128.10  130.80  128.30  -2.50
5  2024-01-09  127.20  128.80  128.10  130.80  127.85  130.99   3.14
6  2024-01-10  128.80  128.10  130.80  127.85  122.35  128.05   5.70
7  2024-01-11  128.10  130.80  127.85  122.35  116.80  122.57   5.77
8  2024-01-12  130.80  127.85  122.35  116.80  117.60  117.03  -0.57
9  2024-01-15  127.85  122.35  116.80  117.60  116.15  117.83   1.68
10 2024-01-16  122.35  116.80  117.60  116.15  117.70  116.38  -1.32
11 2024-01-17  116.80  117.60  116.15  117.70  120.40  117.93  -2.47
12 2024-01-18  117.60  116.15  117.70  120.40  120.40  120.62   0.22
13 2024-01-19  116.15  117.70  120.40  120.40  120.95  120.62  -0.33
14 2024-01-22  117.70  120.40  120.40  120.95  121.75  121.17  -0.58
15 2024-01-23  120.40  120.40  120.95  121.75  121.95  121.97   0.02
16 2024-01-24  120.40  120.95  121.75  121.95  118.45  122.17   3.72
17 2024-01-25  120.95  121.75  121.95  118.45  119.85  118.67  -1.18
18 2024-01-26  121.75  121.95  118.45  119.85  119.00  120.07   1.07
19 2024-01-29  121.95  118.45  119.85  119.00  117.85  119.22   1.37
20 2024-01-30  118.45  119.85  119.00  117.85  115.45  118.07   2.62
21 2024-01-31  119.85  119.00  117.85  115.45  114.50  115.68   1.18
22 2024-02-01  119.00  117.85  115.45  114.50  114.45  114.73   0.28
23 2024-02-02  117.85  115.45  114.50  114.45  112.30  114.67   2.37
24 2024-02-05  115.45  114.50  114.45  112.30  110.45  112.53   2.08
25 2024-02-06  114.50  114.45  112.30  110.45  112.20  110.67  -1.53
26 2024-02-07  114.45  112.30  110.45  112.20  109.95  112.42   2.47
27 2024-02-08  112.30  110.45  112.20  109.95  110.45  110.17  -0.28
28 2024-02-09  110.45  112.20  109.95  110.45  112.40  110.67  -1.73
29 2024-02-12  112.20  109.95  110.45  112.40  109.15  112.62   3.47
30 2024-02-13  109.95  110.45  112.40  109.15  107.50  109.37   1.87
31 2024-02-14  110.45  112.40  109.15  107.50  108.55  107.72  -0.83
32 2024-02-15  112.40  109.15  107.50  108.55  108.30  108.77   0.47
33 2024-02-16  109.15  107.50  108.55  108.30  106.70  108.52   1.82
34 2024-02-19  107.50  108.55  108.30  106.70  104.75  106.91   2.16
35 2024-02-20  108.55  108.30  106.70  104.75  101.55  104.96   3.41
36 2024-02-21  108.30  106.70  104.75  101.55  104.20  101.75  -2.45
37 2024-02-22  106.70  104.75  101.55  104.20  100.30  104.41   4.11
38 2024-02-23  104.75  101.55  104.20  100.30  104.05  100.50  -3.55
39 2024-02-26  101.55  104.20  100.30  104.05  107.00  104.26  -2.74

In [11]:
def escenario(x):

    import math

    df_pred['stock'] = (x/df_pred.do).apply(math.floor)

    df_pred['day_gap'] = df_pred.do.diff()

    df_pred['money'] = df_pred.stock*df_pred.day_gap

    df_pred['evolution'] = x + df_pred['money'].iloc[1:].cumsum().round(2)

    max_money_index = df_pred['money'].idxmax()
    
    df_pred['opti_real'] = x + df_pred['money'].iloc[max_money_index:].cumsum().round(2)

    min_money_index = df_pred['pred'].idxmin()
    
    df_pred['opti_pred'] = x + df_pred['money'].iloc[min_money_index:].cumsum().round(2)

    return df_pred

In [16]:
df_pred = escenario(300)

df_pred

,date,d-4,d-3,d-2,d-1,do,pred,error,stock,day_gap,money,evolution,opti_real,opti_pred,name
0,2024-01-02,131.25,127.15,127.65,126.80,126.30,127.01,0.71,2,NaN,NaN,NaN,NaN,NaN,acciona
1,2024-01-03,127.15,127.65,126.80,126.30,127.20,126.51,-0.69,2,0.90,1.8,301.8,NaN,NaN,acciona
2,2024-01-04,127.65,126.80,126.30,127.20,128.80,127.41,-1.39,2,1.60,3.2,305.0,NaN,NaN,acciona
3,2024-01-05,126.80,126.30,127.20,128.80,128.10,129.00,0.90,2,-0.70,-1.4,303.6,NaN,NaN,acciona
4,2024-01-08,126.30,127.20,128.80,128.10,130.80,128.30,-2.50,2,2.70,5.4,309.0,NaN,NaN,acciona
5,2024-01-09,127.20,128.80,128.10,130.80,127.85,130.99,3.14,2,-2.95,-5.9,303.1,NaN,NaN,acciona
6,2024-01-10,128.80,128.10,130.80,127.85,122.35,128.05,5.70,2,-5.50,-11.0,292.1,NaN,NaN,acciona
7,2024-01-11,128.10,130.80,127.85,122.35,116.80,122.57,5.77,2,-5.55,-11.1,281.0,NaN,NaN,acciona
8,2024-01-12,130.80,127.85,122.35,116.80,117.60,117.03,-0.57,2,0.80,1.6,282.6,NaN,NaN,acciona
9,2024-01-15,127.85,122.35,116.80,117.60,116.15,117.83,1.68,2,-1.45,-2.9,279.7,NaN,NaN,acciona
10,2024-01-16,122.35,116.80,117.60,116.15,117.70,116.38,-1.32,2,1.55,3.1,282.8,NaN,NaN,acciona
11,2024-01-17,116.80,117.60,116.15,117.70,120.40,117.93,-2.47,2,2.70,5.4,288.2,NaN,NaN,acciona
12,2024-01-18,117.60,116.15,117.70,120.40,120.40,120.62,0.22,2,0.00,0.0,288.2,NaN,NaN,acciona
13,2024-01-19,116.15,117.70,120.40,120.40,120.95,120.62,-0.33,2,0.55,1.1,289.3,NaN,NaN,acciona
14,2024-01-22,117.70,120.40,120.40,120.95,121.75,121.17,-0.58,2,0.80,1.6,290.9,NaN,NaN,acciona
15,2024-01-23,120.40,120.40,120.95,121.75,121.95,121.97,0.02,2,0.20,0.4,291.3,NaN,NaN,acciona
16,2024-01-24,120.40,120.95,121.75,121.95,118.45,122.17,3.72,2,-3.50,-7.0,284.3,NaN,NaN,acciona
17,2024-01-25,120.95,121.75,121.95,118.45,119.85,118.67,-1.18,2,1.40,2.8,287.1,NaN,NaN,acciona
18,2024-01-26,121.75,121.95,118.45,119.85,119.00,120.07,1.07,2,-0.85,-1.7,285.4,NaN,NaN,acciona
19,2024-01-29,121.95,118.45,119.85,119.00,117.85,119.22,1.37,2,-1.15,-2.3,283.1,NaN,NaN,acciona
20,2024-01-30,118.45,119.85,119.00,117.85,115.45,118.07,2.62,2,-2.40,-4.8,278.3,NaN,NaN,acciona
21,2024-01-31,119.85,119.00,117.85,115.45,114.50,115.68,1.18,2,-0.95,-1.9,276.4,NaN,NaN,acciona
22,2024-02-01,119.00,117.85,115.45,114.50,114.45,114.73,0.28,2,-0.05,-0.1,276.3,NaN,NaN,acciona
23,2024-02-02,117.85,115.45,114.50,114.45,112.30,114.67,2.37,2,-2.15,-4.3,272.0,NaN,NaN,acciona
24,2024-02-05,115.45,114.50,114.45,112.30,110.45,112.53,2.08,2,-1.85,-3.7,268.3,NaN,NaN,acciona
25,2024-02-06,114.50,114.45,112.30,110.45,112.20,110.67,-1.53,2,1.75,3.5,271.8,NaN,NaN,acciona
26,2024-02-07,114.45,112.30,110.45,112.20,109.95,112.42,2.47,2,-2.25,-4.5,267.3,NaN,NaN,acciona
27,2024-02-08,112.30,110.45,112.20,109.95,110.45,110.17,-0.28,2,0.50,1.0,268.3,NaN,NaN,acciona
28,2024-02-09,110.45,112.20,109.95,110.45,112.40,110.67,-1.73,2,1.95,3.9,272.2,NaN,NaN,acciona
29,2024-02-12,112.20,109.95,110.45,112.40,109.15,112.62,3.47,2,-3.25,-6.5,265.7,NaN,NaN,acciona
30,2024-02-13,109.95,110.45,112.40,109.15,107.50,109.37,1.87,2,-1.65,-3.3,262.4,NaN,NaN,acciona
31,2024-02-14,110.45,112.40,109.15,107.50,108.55,107.72,-0.83,2,1.05,2.1,264.5,NaN,NaN,acciona
32,2024-02-15,112.40,109.15,107.50,108.55,108.30,108.77,0.47,2,-0.25,-0.5,264.0,NaN,NaN,acciona
33,2024-02-16,109.15,107.50,108.55,108.30,106.70,108.52,1.82,2,-1.60,-3.2,260.8,NaN,NaN,acciona
34,2024-02-19,107.50,108.55,108.30,106.70,104.75,106.91,2.16,2,-1.95,-3.9,256.9,NaN,NaN,acciona
35,2024-02-20,108.55,108.30,106.70,104.75,101.55,104.96,3.41,2,-3.20,-6.4,250.5,NaN,NaN,acciona
36,2024-02-21,108.30,106.70,104.75,101.55,104.20,101.75,-2.45,2,2.65,5.3,255.8,NaN,NaN,acciona
37,2024-02-22,106.70,104.75,101.55,104.20,100.30,104.41,4.11,2,-3.90,-7.8,248.0,NaN,NaN,acciona
38,2024-02-23,104.75,101.55,104.20,100.30,104.05,100.50,-3.55,2,3.75,7.5,255.5,307.5,307.5,acciona
39,2024-02-26,101.55,104.20,100.30,104.05,107.00,104.26,-2.74,2,2.95,5.9,261.4,313.4,313.4,acciona

In [17]:
def dafatrame(df_pred,name):
    

    df_pred['name'] = name
    
    df_pred = df_pred[['name','date','do','pred','error','stock','day_gap','money','evolution','opti_real','opti_pred']]

    return df_pred

In [18]:
df= dafatrame(df_pred,'acciona')

df

,name,date,do,pred,error,stock,day_gap,money,evolution,opti_real,opti_pred
0,acciona,2024-01-02,126.30,127.01,0.71,2,NaN,NaN,NaN,NaN,NaN
1,acciona,2024-01-03,127.20,126.51,-0.69,2,0.90,1.8,301.8,NaN,NaN
2,acciona,2024-01-04,128.80,127.41,-1.39,2,1.60,3.2,305.0,NaN,NaN
3,acciona,2024-01-05,128.10,129.00,0.90,2,-0.70,-1.4,303.6,NaN,NaN
4,acciona,2024-01-08,130.80,128.30,-2.50,2,2.70,5.4,309.0,NaN,NaN
5,acciona,2024-01-09,127.85,130.99,3.14,2,-2.95,-5.9,303.1,NaN,NaN
6,acciona,2024-01-10,122.35,128.05,5.70,2,-5.50,-11.0,292.1,NaN,NaN
7,acciona,2024-01-11,116.80,122.57,5.77,2,-5.55,-11.1,281.0,NaN,NaN
8,acciona,2024-01-12,117.60,117.03,-0.57,2,0.80,1.6,282.6,NaN,NaN
9,acciona,2024-01-15,116.15,117.83,1.68,2,-1.45,-2.9,279.7,NaN,NaN
10,acciona,2024-01-16,117.70,116.38,-1.32,2,1.55,3.1,282.8,NaN,NaN
11,acciona,2024-01-17,120.40,117.93,-2.47,2,2.70,5.4,288.2,NaN,NaN
12,acciona,2024-01-18,120.40,120.62,0.22,2,0.00,0.0,288.2,NaN,NaN
13,acciona,2024-01-19,120.95,120.62,-0.33,2,0.55,1.1,289.3,NaN,NaN
14,acciona,2024-01-22,121.75,121.17,-0.58,2,0.80,1.6,290.9,NaN,NaN
15,acciona,2024-01-23,121.95,121.97,0.02,2,0.20,0.4,291.3,NaN,NaN
16,acciona,2024-01-24,118.45,122.17,3.72,2,-3.50,-7.0,284.3,NaN,NaN
17,acciona,2024-01-25,119.85,118.67,-1.18,2,1.40,2.8,287.1,NaN,NaN
18,acciona,2024-01-26,119.00,120.07,1.07,2,-0.85,-1.7,285.4,NaN,NaN
19,acciona,2024-01-29,117.85,119.22,1.37,2,-1.15,-2.3,283.1,NaN,NaN
20,acciona,2024-01-30,115.45,118.07,2.62,2,-2.40,-4.8,278.3,NaN,NaN
21,acciona,2024-01-31,114.50,115.68,1.18,2,-0.95,-1.9,276.4,NaN,NaN
22,acciona,2024-02-01,114.45,114.73,0.28,2,-0.05,-0.1,276.3,NaN,NaN
23,acciona,2024-02-02,112.30,114.67,2.37,2,-2.15,-4.3,272.0,NaN,NaN
24,acciona,2024-02-05,110.45,112.53,2.08,2,-1.85,-3.7,268.3,NaN,NaN
25,acciona,2024-02-06,112.20,110.67,-1.53,2,1.75,3.5,271.8,NaN,NaN
26,acciona,2024-02-07,109.95,112.42,2.47,2,-2.25,-4.5,267.3,NaN,NaN
27,acciona,2024-02-08,110.45,110.17,-0.28,2,0.50,1.0,268.3,NaN,NaN
28,acciona,2024-02-09,112.40,110.67,-1.73,2,1.95,3.9,272.2,NaN,NaN
29,acciona,2024-02-12,109.15,112.62,3.47,2,-3.25,-6.5,265.7,NaN,NaN
30,acciona,2024-02-13,107.50,109.37,1.87,2,-1.65,-3.3,262.4,NaN,NaN
31,acciona,2024-02-14,108.55,107.72,-0.83,2,1.05,2.1,264.5,NaN,NaN
32,acciona,2024-02-15,108.30,108.77,0.47,2,-0.25,-0.5,264.0,NaN,NaN
33,acciona,2024-02-16,106.70,108.52,1.82,2,-1.60,-3.2,260.8,NaN,NaN
34,acciona,2024-02-19,104.75,106.91,2.16,2,-1.95,-3.9,256.9,NaN,NaN
35,acciona,2024-02-20,101.55,104.96,3.41,2,-3.20,-6.4,250.5,NaN,NaN
36,acciona,2024-02-21,104.20,101.75,-2.45,2,2.65,5.3,255.8,NaN,NaN
37,acciona,2024-02-22,100.30,104.41,4.11,2,-3.90,-7.8,248.0,NaN,NaN
38,acciona,2024-02-23,104.05,100.50,-3.55,2,3.75,7.5,255.5,307.5,307.5
39,acciona,2024-02-26,107.00,104.26,-2.74,2,2.95,5.9,261.4,313.4,313.4

In [19]:
df.to_csv('acciona.csv',index=False)