In [1]:
import pandas as pd

In [2]:

acciona = pd.read_csv('acciona.csv')
acciona_ene = pd.read_csv('acciona_ene.csv')
acerinox = pd.read_csv('acerinox.csv')
acs = pd.read_csv('acs.csv')
aena = pd.read_csv('aena.csv')
amadeus = pd.read_csv('amadeus.csv')
arcelor = pd.read_csv('arcelor.csv')
bankinter = pd.read_csv('bankinter.csv')
bbva = pd.read_csv('bbva.csv')
caixabank = pd.read_csv('caixabank.csv')
cellnex = pd.read_csv('cellnex.csv')
colonial = pd.read_csv('colonial.csv')
enagas = pd.read_csv('enagas.csv')
endesa = pd.read_csv('endesa.csv')
ferrovial = pd.read_csv('ferrovial.csv')
fluidra = pd.read_csv('fluidra.csv') 
grifols = pd.read_csv('grifols.csv')
iag = pd.read_csv('iag.csv') 
iberdrola = pd.read_csv('iberdrola.csv')
inditex = pd.read_csv('inditex.csv')
indra = pd.read_csv('indra.csv')
logista = pd.read_csv('logista.csv')
mapfre = pd.read_csv('mapfre.csv')
melia = pd.read_csv('melia.csv') 
merlin = pd.read_csv('merlin.csv')
naturgy = pd.read_csv('naturgy.csv')
ree = pd.read_csv('ree.csv')
repsol = pd.read_csv('repsol.csv')
rovi = pd.read_csv('rovi.csv')
sabadell = pd.read_csv('sabadell.csv')
sacyr = pd.read_csv('sacyr.csv') 
santander = pd.read_csv('santander.csv')
solaria = pd.read_csv('solaria.csv')
telefonica = pd.read_csv('telefonica.csv')
unicaja = pd.read_csv('unicaja.csv')

In [3]:
list_of_dfs = [acciona, acciona_ene, acerinox, acs, aena, amadeus, arcelor, bankinter, bbva, caixabank, cellnex, colonial, enagas, endesa, 
               ferrovial, fluidra, grifols, iag, iberdrola, inditex, indra, logista, mapfre, melia, merlin, naturgy,ree,repsol,
               rovi, sabadell, sacyr, santander, solaria, telefonica, unicaja]


simulator = pd.concat(list_of_dfs, ignore_index=True)

simulator

,name,date,do,pred,error,stock,day_gap,money,evolution,opti_real,opti_pred
0,acciona,2024-01-02,126.30,127.01,0.71,2,NaN,NaN,NaN,NaN,NaN
1,acciona,2024-01-03,127.20,126.51,-0.69,2,0.90,1.80,301.80,NaN,NaN
2,acciona,2024-01-04,128.80,127.41,-1.39,2,1.60,3.20,305.00,NaN,NaN
3,acciona,2024-01-05,128.10,129.00,0.90,2,-0.70,-1.40,303.60,NaN,NaN
4,acciona,2024-01-08,130.80,128.30,-2.50,2,2.70,5.40,309.00,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1395,unicaja,2024-02-20,0.97,0.97,0.00,103,0.00,0.00,102.41,109.35,113.88
1396,unicaja,2024-02-21,0.98,0.97,-0.01,102,0.01,1.02,103.43,110.37,114.90
1397,unicaja,2024-02-22,0.96,0.98,0.02,104,-0.02,-2.08,101.35,108.29,112.82
1398,unicaja,2024-02-23,0.94,0.96,0.02,106,-0.02,-2.12,99.23,106.17,110.70
1399,unicaja,2024-02-26,0.96,0.94,-0.02,104,0.02,2.08,101.31,108.25,112.78